.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 3rem 1rem;
    
}

.skill-card {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: #fff;
    padding: 8px 16px;
    border-radius: 999px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    transition: transform 0.2s ease;
    border: .5px solid #00ff80;

    &:hover {
        transform: scale(1.1);
    }

    img {
    width: 20px;
    height: 20px;
    }
}
