.footer {
    text-align: center;
    margin-top: 2rem;
    color: #ccc;
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
}

.footer a {
    color: #c5bbbb;
    text-decoration: none;
    margin: 0 0.5rem;

    &:hover {
    color: #fff;
    transition: color 0.3s;
}

} 