<section class="intro-section">
    <header class="intro-header">
        <h1>
            <strong>Hello World!</strong>
        </h1>
        <p>Meu nome é <strong>Ingrid Oliveira</strong> e sou</p>
        <h2>
            <strong>Desenvolvedora Front-End</strong>
        </h2>
    </header>

    <blockquote class="intro-quote">
        “Transformando ideias em experiências digitais que conectam pessoas.”
    </blockquote>

    <div class="skills-container">
        <app-card-skills></app-card-skills>
    </div>
</section>